.audience {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 27px 20px 24px;;
    background-color: white;
    width: 768px;
    height: 242px;
    border-radius: 13px;
}

.audience__title {
    margin-left: 15px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

}

.audience__time {
    margin-left: 156px;
    border: none;
}

.audience__checkbox {
    margin-left: 32px;
}


.audience__img {
    width: 716px;
    height: 141px;
}