.audience {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 27px 20px 24px;;
    background-color: white;
    width: 768px;
    height: 242px;
    border-radius: 13px;
}

.audience__title {

}

.audience__time {
    margin-left: 156px;
}

.audience__checkbox {
    margin-left: 32px;
}

.audience__img {

}