.device {
    display: grid;
    background-color: white;
    padding: 15px 0px 31px 23px;
    width: 288px;
    height: 242px;
    border-radius: 13px;
}

.device__title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.device__data {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 125px;
    height: 50px;
    padding-left: 9px;

}

.device__desktop {
    grid-column: 1/2;
    grid-row: 1/2;
}

span.device__desktop{
    grid-column: 2/3;
    grid-row: 1/2;
}

.device__mobile {
    grid-column: 1/2;
    grid-row: 2/3;
}

span.device__mobile{
    grid-column: 2/3;
    grid-row: 2/3;
}