.gender {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 15px 25px 10px 24px;
    width: 675px;
    height: 242px;
    border-radius: 13px;
    border: 1px solid #EBEBEB;
}

.gender__title {
    margin-left: 15px;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
}

.gender__checkbox {
    margin-left: 335px;

}
