.header {
    display: flex;
    align-items: center;
    padding-left: 48px;
    padding-right: 59px;

    @media (max-width: 480px) and (min-width: 320px){
        padding-left: 5px;
        padding-right: 5px;
      }
}
.header__title {   
        font-family: Gilroy;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #4F4F4F;

}

.search {
    position: relative;
    margin-left: 45px;
    color: #979797;
}

.search__text {
    border-radius: 8px;
    border: 1px solid #EBEBEB;;
    width: 153px;
    height: 32px;
    padding-left: 38px;

    font-family: Gilroy;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.search__button {
    position: absolute;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
}

.header__notification{
    margin-left: 25px;
    border: none;
    background-color: transparent;
}

.info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.info__name{
    font-family: Gilroy;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #4F4F4F;
}

.info__button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.info__photo{
    margin-left: 15px;
    border-radius: 50%;
    border: 1px solid #EBEBEB;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.info__arrow{
    margin-left: 10px;
}