
.page {
    display: grid;
    grid-template-columns: 98px auto;
    border: 0px;
    width: 1280px;
    height: 880px;
    margin: 160px;
    background: #EFF3F9;
    border-radius: 14px;
    background-image: url(../../img/Union.svg);
    background-image: url(../../img/Ellipse209.svg);
}