
.page {
    display: grid;
    grid-template-columns: 98px auto;
    border: 0px;
    width: 1280px;
    height: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 160px;
    background: #EFF3F9;
    border-radius: 14px;
    background-image: url(../..//img/Union.png);
    background-image: url(../img/Ellipse209.svg);
}